{% extends "base.html" %}
{% block content %}

<h2>Update Member</h2>

<div id='form-container'>
    <form class="edit-form session-table"  action="/members/{{ member.id }}" method="POST">
        <div class="div-table">
            <table id='table-details'>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Membership</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="first_name" name="first_name" value="{{ member.first_name }}">
                    </td>
                    <td>
                        <input type="text" id="last_name" name="last_name" value="{{ member.last_name }}">          
                    </td>
                    <td>
                        <select id="membership" name="membership">
                            <option value="{{ member.premium }}">{{ member.premium }}</option>
                            <option value="True">Premium</option>
                            <option value="False">Standard</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <input id='update-button' type="submit" value="Update Member">
    </form>
    
    <form class="attendee-form session-table" action="/bookings/session/delete" method="post">      
        <div class="div-table">
            <table id='table-attendees'>
                <tr>
                <th>Attendees</th>
                </tr>
                <tr>
                    <td>
                        <select name="booking_id" id="booking">
                            {% for booking in bookings %}
                                <option value="{{ booking.id }}">{{ booking.session.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            
            </table>
        </div>
        <input type="submit" value="Remove Class">
    </form>
    
    
    </div>
    <form class="session-table" action="/members/{{ member.id }}/delete" method="POST">
        <input id='delete-button' type="submit" value="Delete Member">
    </form>
    

{% endblock %}