{% extends "base.html" %}
{% block content %}

<h2>Add a New Member</h2>

<form action="/members" method="POST">
    <div>
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name">
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name">
    </div>
    <div>
        <label for="membership">Membership:</label>

        <input type="radio" id="membership" name="membership" value="True">
        <label for="premium">Premium</label>
        <input type="radio" id="membership" name="membership" value="False">
        <label for="standard">Standard</label><br>
    </div>
    <input type="submit" value="Submit">

</form>


{% endblock %}