{% extends "base.html" %}
{% block content %}

<h2>Add a New Member</h2>

<div class="div-format">
    <form action="/members" method="POST">
        <table class="table-position">
            <tr>
                <th class='th-member'>First Name</th>
                <th class='th-member'>Last Name</th>
                <th class='th-member'>Membership</th>
            </tr>
            <tr>
                <td class='td-member'>
                    <input type="text" id="first_name" name="first_name">
                </td>
                <td class='td-member'>
                    <input type="text" id="last_name" name="last_name">
                </td>
                <td class='td-member'>
                    <select id="membership" name="membership">
                        <option value="True">Premium</option>
                        <option value="False">Standard</option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}