.menu {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type :none;
    padding-right: 10px;
}

.container {
    text-align: center;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.edit-session {
    display: flex;
    flex-direction: column;
}