body > header{
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: large;
    text-decoration: none;
}

li {
    list-style-type :none;
    padding-right: 10px;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

label{
    text-align: right;
    width: 200px;
    position:left;
}

form {
    padding:20px;
    margin:auto;
}

.home-button {
    width: 50%;
    border: none;
    background-color: #04AA6D;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
  
.home-button:hover {
    background-color: #ddd;
    color: black;
}

.table-position{
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    padding: 0;
    margin: 0;
}

#form-container{
    display: grid;
    grid-template-areas:
      'edit-form edit-form edit-form attendee-form';
    justify-items: center;   
}

.edit-form{
    grid-area: 'edit-form';
    justify-self: center;
}

.attendee-form{
    grid-area: 'attendee-form';
    justify-self: center;
}


.edit-session {
    display: flex;
    flex-direction: column;
}

#update-button{
    /* color: #04AA6D; */
}

#table-attendees{
    padding: 0;
    margin: 0;
}

.th-attendees{
    height: 10px;
} 

.td-attendees{
    height: 120px;
}

#delete-button{
    width: 50%;
    border: none;
    background-color: red;
    color: white;
    padding: 14px 28px;
    margin-top: 50px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

#delete-button:hover {
    background-color: #ddd;
    color: black;
}

body > footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
}





/* section, table {
    display: flex;
    flex-direction: row;
    justify-content: left;
} */

/* .session-table {
    padding: 0;
    margin: 0;
    width: 70%;
    display: inline-block;

} */

/* #table-details{
    width: 70%;
} */