body > header{
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: left;

}

li {
    list-style-type :none;
    padding-right: 10px;
}

.container {
    text-align: center;
    padding: 0;
    margin: 0;
}
#form-container{
    display: grid;
    grid-template-areas:
      'edit-form edit-form edit-form attendee-form';
    justify-items: center;
    
}

.edit-form{
    grid-area: 'edit-form';
    justify-self: center;
}

.attendee-form{
    grid-area: 'attendee-form';
    justify-self: center;
}

/* Section needed? */
/* section, table {
    display: flex;
    flex-direction: row;
    justify-content: left;
} */
/* table, below  */
 th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
  }

.edit-session {
    display: flex;
    flex-direction: column;
}

label{
    text-align: right;
    width: 200px;
    position:left;
}

form {
    padding:20px;
    margin:auto;
    /* width:600px; */
}


body > footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
}

.home-button {
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
  
.home-button:hover {
    background-color: #ddd;
    color: black;
  }

/* .session-table {
    padding: 0;
    margin: 0;
    width: 70%;
    display: inline-block;

} */

/* #table-details{
    width: 70%;
} */


#update-button{
    color: #04AA6D;
}

#table-attendees{
    background-color: red;
    padding: 0;
    margin: 0;
    /* width: 10%; */
    
}
